<p>
    To participate in any event that uses race ventura you will need the RaceVentura app. Here you can find a step by
    step explanation how to get the app and how to use it.
</p>
<br />
<h4>Download the app:</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Step 1: Download the app from the app/play store
        <a href="https://apps.apple.com/us/app/raceventura/id1547990194?itsct=apps_box&amp;itscg=30200" target="_blank">
            <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1610668800&h=23e4b23e9bed7f36f051f8490f2fd98a"
            height="50"    
            alt="Download on the App Store"></a>
        <a href='https://play.google.com/store/apps/details?id=com.companyname.raceventura&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
            target="_blank">
            <img alt='Get it on Google Play' height="75"
                src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
                alt="Download on the play store" /></a>
    </li>
</ul>
<br />
<h4>Register your phone to a team:</h4>
To be able to do any actions for your team you need to register your phone to your team. Only registered phones can
execute actions for your team. You can register multiple phones to a team, depending on the team size set by the event
organisation.
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Step 1: Open the app and push the add race button in the upper right corner of the screen.
    </li>
    <li class="list-group-item">
        Step 2: Give the app access to your phones camera so it can scan QR codes.
    </li>
    <li class="list-group-item">
        Step 3: Scan the team registration QR code the organisation of the event you want to participate in has provided
        you with.
    </li>
    <li class="list-group-item">
        Step 4: You are ready to race! If you get any errors contact the event organisation.
    </li>
</ul>
<br />
<h4>Register a point for your team:</h4>
Point are the way to keep track of your teams progress in the event and their value is used to calculate the ranking in
the event. You only need to register a point with one of the devices registered to your team.
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Step 1: Push the race name in the main screen of the app.
    </li>
    <li class="list-group-item">
        Step 2: Push the 'Scan QR code' button in the middle of the screen.
    </li>
    <li class="list-group-item">
        Step 3: Scan the QR code for the point you want to register, the QR code is provided by the event organisation.
    </li>
    <li class="list-group-item">
        Step 4: Give the app access to your location, this is needed to check if you realy are on the same location as
        the point is. On some android devices you might need to manualy grant the app access to your location, this can
        be done in the setting of you phone.
    </li>
    <li class="list-group-item">
        Step 5: You registerd the point for your team! If you get an error you can always try it as many times as you
        want, location information might not be accurate enough or you might have answered the question wrong. Just give
        it another go. If you keep getting errors and you are sure you are on the right spot contact the event
        organisation!
    </li>
</ul>
<br />
<h4>Start the current stage for your team:</h4>
The event might have multiple stages, to make sure you cannot register any point that are not in the current stage the
system keeps track of the stage you are in. This is why you need to start each stage when you are ready for it. You only need to start a stage with one of the devices registered to your
team. When you start a stage you will get a message if you want to end the previous stage. This is to make sure you are ready for the next stage, a stage can only be started once!
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Step 1: Push the race name in the main screen of the app.
    </li>
    <li class="list-group-item">
        Step 2: Push the 'Scan QR code' button in the middle of the screen.
    </li>
    <li class="list-group-item">
        Step 3: Scan the QR code for the stage you want to start, this QR code is provided by the event organisation.
    </li>
    <li class="list-group-item">
        Step 4: You are ready for the next stage! If you get any errors contact the event organisation.
    </li>
</ul>
<br />
<h4>End the event for your team:</h4>
This is the way to register the finish time for your team. The duration of your teams event is also used in calculating
the ranking.
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Step 1: Push the race name in the main screen of the app.
    </li>
    <li class="list-group-item">
        Step 2: Push the 'Scan QR code' button in the middle of the screen.
    </li>
    <li class="list-group-item">
        Step 3: Scan the QR code provided by the organisation to end the event.
    </li>
    <li class="list-group-item">
        Step 4: The event is finished! If you get any errors contact the event organisation. You can scan the code with
        multiple devices registered to your team. The time of the first race end registration will always be your
        teams finish time.
    </li>
</ul>