<div class="m-2">
    <div *ngIf="passwordReseted; else showForm">
        Your password has been changed. You can now login with your new password. <a routerLink="/login">Login</a>
    </div>

    <ng-template #showForm>
        <div class="row">
            <div class="col">
                Please enter a new password.
            </div>
        </div>
        <form *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm" (submit)="submitClick()" role="form">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control"
                            [ngClass]="{'is-invalid': isControlValid(resetPasswordForm.get('password'))}" id="password"
                            type="password" placeholder="Password (required)" formControlName="password" />
                    </div>
                    <validation-message-for field="password">
                        <validation-message error="required">
                            <span class="text-danger">Please enter a password.</span>
                        </validation-message>
                        <validation-message error="minlength">
                            <span class="text-danger">Your password should be atleast 8 characters long.</span>
                        </validation-message>
                        <validation-message error="pattern">
                            <span class="text-danger">Your password should have an uppercase letter, lowercase letter, a
                                number, and a special character.</span>
                        </validation-message>
                    </validation-message-for>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirm password</label>
                        <input class="form-control"
                            [ngClass]="{'is-invalid': isControlValid(resetPasswordForm.get('confirmPassword'))}"
                            id="confirmPassword" type="password" placeholder="Confirm password (required)"
                            formControlName="confirmPassword" />
                        <validation-message-for field="confirmPassword">
                            <validation-message error="required">
                                <span class="text-danger">Please enter a confirm password.</span>
                            </validation-message>
                            <validation-message error="mustMatch">
                                <span class="text-danger">Passwords do not match.</span>
                            </validation-message>
                        </validation-message-for>
                    </div>
                </div>
            </div>

            <div *ngIf="serverError" class="row">
                <div class="col">
                    <span class="text-danger">There was a server error. Please contact support.</span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="sending">
                <span *ngIf="sending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>
                    Submit
                </span>
            </button>
        </form>
    </ng-template>
</div>