<h2>Races Overview</h2>

<app-add-race *ngIf="!(loadRacesBase$ | async).isActive && !(loadRacesBase$ | async).error"></app-add-race>

<div *ngIf="!(loadRacesBase$ | async).isActive; else racesLoading">
    <ul *ngIf="(loadRacesBase$ | async).success">
        <li *ngFor="let race of races$ | async" (click)="detailsClicked(race)">{{race.name}}</li>
    </ul>
</div>
<ng-template #racesLoading>
    Table is loading.
</ng-template>

<div *ngIf="selectedRace">
    <app-race-details [raceId]="selectedRace.id"></app-race-details>
</div>