<div class="row">
    <app-add-race *ngIf="!(loadRacesBase$ | async).isActive && !(loadRacesBase$ | async).error"
    [type]="addEditType.Add"></app-add-race>
</div>

<div class="row pt-2">
    <h5>Races</h5>
</div>

<div class="row pt-1">
    <div class="col-5 race-list">
        <div *ngIf="!(loadRacesBase$ | async).isActive; else racesLoading">
            <div *ngIf="(loadRacesBase$ | async).success" class="list-group">
                <a *ngFor="let race of races$ | async" class="list-group-item list-group-item-action" href="javascript:void(0)"
                    (click)="detailsClicked(race)" [ngClass]="{'active': race === selectedRace}">{{race.name}}</a>
            </div>
        </div>
    </div>
    <ng-template #racesLoading>
        Table is loading.
    </ng-template>
</div>

<div *ngIf="selectedRace" class="row pt-2">
    <app-race-details [raceId]="selectedRace.id"></app-race-details>
</div>