<h2>Races Overview</h2>
<div *ngIf="races; else tableLoading">
    <table style="text-align: left">
        <thead>
            <tr>
                <th>Name</th>
                <th>Coordinates check</th>
                <th>Specials taks are stage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let race of races">
                <td>{{race.name}}</td>
                <td>{{race.coordinatesCheckEnabled}}</td>
                <td>{{race.specialTasksAreStage}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #tableLoading>
    Table is loading.
</ng-template>