<div class="m-2">
    <div class="row">
        <div *ngIf="!loggedIn; else logout">
            <form *ngIf="loginForm" [formGroup]="loginForm" (submit)="loginButtonClick()" role="form">
                <div class="form-group">
                    <label class="control-label" for="emailId">Email address</label>
                    <input class="form-control" [ngClass]="{'is-invalid': isControlValid(loginForm.get('email'))}" id="emailId" type="text" placeholder="Email (required)" formControlName="email" />
                    <validation-message-for field="email">
                        <validation-message error="required">
                            <span class="text-danger">Please enter your email address.</span>
                        </validation-message>
                    </validation-message-for>
                </div>

                <div class="form-group">
                    <label class="control-label" for="passwordId">Password</label>
                    <input class="form-control" [ngClass]="{'is-invalid': isControlValid(loginForm.get('password'))}" id="passwordId" type="password" formControlName="password" />
                    <validation-message-for field="password">
                        <validation-message error="required">
                            <div class="text-danger">Please enter your password.</div>
                        </validation-message>
                    </validation-message-for>
                </div>
                <div *ngIf="serverError === 2" class="row">
                    <div class="col">
                        <span class="text-danger">Wrong email address or password.</span>
                    </div>
                </div>
                <div *ngIf="serverError === 3" class="row">
                    <div class="col">
                        <span class="text-danger">Your email address has not been confirmed, please confirm it by using the link in the email you received.</span>
                    </div>
                </div>
                <div *ngIf="serverError && (serverError !== 2 && serverError !== 3)" class="row">
                    <div class="col">
                        <span class="text-danger">An error occurred please contact support.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" [disabled]="loginin">
                            <span *ngIf="loginin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span>
                                Login
                            </span>
                        </button>
                    </div>
                    <div class="col">
                        <a routerLink="/forgotpassword">Forgot password</a>
                    </div>
                </div>
            </form>
        </div>
        <ng-template #logout>
            <button type="button" (click)="logoutClicked()">Logout</button>
        </ng-template>
    </div>
</div>