.header {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-flow: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pull-left {
    float: left;
    flex: 0 1 auto;
    background-color: white;
    margin-right: 5px;
}

.fill-right {    
    flex: 1 1 auto;
    background-color: white;
}

.content {
    padding: 5px;
}

.footer {     
    background-color: white;
    text-align: center;
    display: block;
    padding: 20px;
}