<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">
        <img src="assets/images/RaceVenturaIcon.png" width="30" height="30" class="d-inline-block align-top" alt=""> Race Ventura
    </div>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a routerLink="/home" class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a routerLink="/appsupport" class="nav-link " href="#">App Support</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a routerLink="/contact" class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 my-lg-0">
                <li *ngIf="loggedIn" class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Races
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/addRace" href="#">Add Race</a>
                        <div class="dropdown-divider"></div>
                        <app-race-list></app-race-list>
                    </div>
                </li>
                <li class="nav-item " [routerLinkActive]="['active']">
                    <a routerLink="/login" class="nav-link" href="#">
                        <span *ngIf="!loggedIn">Login</span>
                        <span *ngIf="loggedIn">Account</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>