<h2 class="text-center">Welcome to the Race Ventura website!</h2>
<h4 class="text-center">Race Ventura is the application to use for <a href="https://en.wikipedia.org/wiki/Adventure_racing" target="_blank">adventure races</a> or scavenger hunts.</h4>

<p class="text-center">
    As you can see this application is still under contruction. Since this is a hobby project which I work on in my spare time you can see my focus is on functionality instead of looks. While having a fulltime job and being a parrent, spare time is very limited...
    But not to worry, looks are still on the to do list!
</p>