<div *ngIf="(stageDetailsLoad$ | async).success; else stageLoading">
    <h5>{{(stageDetails$ | async).name}} details</h5>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Minimum points to complete stage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{(stageDetails$ | async).name}}</td>
                    <td>{{(stageDetails$ | async).mimimumPointsToCompleteStage}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <app-stage-add [details]="stageDetails$ | async" [type]="addEditType.Edit"></app-stage-add>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger float-right" data-toggle="modal"
                data-target="#removeStageModal">
                Remove stage
            </button>

            <!-- Modal -->
            <div class="modal fade" id="removeStageModal" tabindex="-1" role="dialog"
                aria-labelledby="removeStageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeStageModalLabel">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you really want to remove {{(stageDetails$ | async).name}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" (click)="RemoveStageClicked()"
                                data-dismiss="modal">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-points-overview></app-points-overview>
        </div>
    </div>
</div>

<div *ngIf="(stageDetailsLoad$ | async).error">
    Error while loading stage details.
</div>

<ng-template #stageLoading>
    <div *ngIf="(stageDetailsLoad$ | async).isActive">
        <div class="align-items-center m-2">
            <div class="spinner-border spinner-border-sm ml-auto mr-2" role="status"></div>
            <strong>Loading stage details...</strong>
        </div>
    </div>
</ng-template>