<div class="m-2">
    <div *ngIf="requestSend; else showForm">
        An email with a password reset link has been send to {{forgotPasswordForm.get('emailAddress').value}}.
    </div>

    <ng-template #showForm>
        <div class="row">
            To reset your password please enter your email address, you will receive an email to reset your password.
        </div>
        <div class="row">
            <form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm" (submit)="submitClick()" role="form">
                <div class="form-group">
                    <label class="control-label" for="emailAddress">Email address</label>
                    <input class="form-control" [ngClass]="{'is-invalid': isControlValid(forgotPasswordForm.get('emailAddress'))}" id="emailAddress" type="text" placeholder="Email address (required)" formControlName="emailAddress" />
                    <validation-message-for field="emailAddress">
                        <validation-message error="required">
                            <span class="text-danger">Please enter an email address.</span>
                        </validation-message>
                        <validation-message error="email">
                            <span class="text-danger">Please enter a valid email address.</span>
                        </validation-message>
                    </validation-message-for>
                </div>

                <div *ngIf="serverError && serverError === 3">
                    <span class="text-danger">Please confirm your email address before resetting your password. When you
                        registered an email was send to confirm your email address.</span>
                </div>

                <button type="submit" class="btn btn-primary">
                    <span *ngIf="sending" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span>
                        Submit
                    </span>
                </button>
            </form>
        </div>
    </ng-template>
</div>