<div *ngIf="(raceDetailsLoad$ | async).success; else raceLoading">
    <h5>{{(raceDetails$ | async).name}} details</h5>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Check GPS coordinates</th>
                    <th scope="col">Spezial tasks are a stage</th>
                    <th scope="col">Maximum team size</th>
                    <th scope="col">Minumum points to complete stage</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Start time</th>
                    <th scope="col">End date</th>
                    <th scope="col">End time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{(raceDetails$ | async).name}}</td>
                    <td>{{(raceDetails$ | async).coordinatesCheckEnabled}}</td>
                    <td>{{(raceDetails$ | async).specialTasksAreStage}}</td>
                    <td>{{(raceDetails$ | async).maximumTeamSize}}</td>
                    <td>{{(raceDetails$ | async).minimumPointsToCompleteStage}}</td>
                    <td>{{(raceDetails$ | async).startDate}}</td>
                    <td>{{(raceDetails$ | async).endDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="(raceDetailsLoad$ | async).error">
    Error while loading race details.
</div>
<ng-template #raceLoading>
    <div *ngIf="(raceDetailsLoad$ | async).isActive">
        Loading race details.
    </div>
</ng-template>