<h2>Race details</h2>
<div *ngIf="(raceDetailsLoad$ | async).success; else raceLoading">
    <table>
        <tr>
            <td>Name:</td>
            <td>{{(raceDetails$ | async).name}}</td>
        </tr>
        <tr>
            <td>Coordinates are checked:</td>
            <td>{{(raceDetails$ | async).coordinatesCheckEnabled}}</td>
        </tr>
        <tr>
            <td>Special tasks are a stage:</td>
            <td>{{(raceDetails$ | async).specialTasksAreStage}}</td>
        </tr>
    </table>
</div>
<div *ngIf="(raceDetailsLoad$ | async).error">
    Error while loading race details.
</div>
<ng-template #raceLoading>
    <div *ngIf="(raceDetailsLoad$ | async).isActive">
        Loading race details.
    </div>
</ng-template>