<p>
    <a class="btn btn-secondary" data-toggle="collapse" href="#openPointForm{{type}}" role="button"
        aria-expanded="false" attr.aria-controls="openPointForm{{type}}">
        <span *ngIf="type === addEditType.Add">
            Add point
        </span>
        <span *ngIf="type === addEditType.Edit">
            Edit point
        </span>
    </a>
</p>
<div class="collapse" id="openPointForm{{type}}">
    <form *ngIf="addPointForm" [formGroup]="addPointForm" (submit)="addPointClick(addPointNgForm)"
        #addPointNgForm="ngForm" role="form">
        <div class="form-group row" [ngClass]="{'has-error': (addPointForm.get('name').touched || addPointForm.get('name').dirty) &&
                        !addPointForm.get('name').valid }">
            <label class="col-sm-6 col-form-label" for="pointName">Name</label>
            <div class="col">
                <input class="form-control" id="pointName" type="text" placeholder="Name (required)"
                    formControlName="name" />
            </div>
        </div>
        <validation-message-for field="name">
            <validation-message error="required">
                <div class="form-group row">
                    <span class="help-block offset-sm-6">Please enter a name.</span>
                </div>
            </validation-message>
        </validation-message-for>

        <div class="form-group row">
            <label class="col-sm-6 col-form-label" for="type">Type</label>
            <div class="col">
                <select class="form-control" id="type" formControlName="type">
                    <option *ngFor="let type of pointTypes | enumToArray" [value]="type.index">
                        {{pointTypeToString(type.index)}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addPointForm.get('value').touched || addPointForm.get('value').dirty) &&
                        !addPointForm.get('value').valid }">
            <label class="col-sm-6 col-form-label" for="value">Value</label>
            <div class="col">
                <input class="form-control" id="value" type="text" placeholder="Value (required)"
                    formControlName="value" />
            </div>
        </div>
        <validation-message-for field="value">
            <validation-message error="required">
                <div class="form-group row">
                    <span class="help-block offset-sm-6">Please enter a value.</span>
                </div>
            </validation-message>
        </validation-message-for>

        <div class="form-group row" [ngClass]="{'has-error': (addPointForm.get('latitude').touched || addPointForm.get('latitude').dirty) &&
                        !addPointForm.get('latitude').valid }">
            <label class="col-sm-6 col-form-label" for="latitude">Latitude</label>
            <div class="col">
                <input class="form-control" id="latitude" type="text" placeholder="xx.xxx (required)"
                    formControlName="latitude" />
            </div>
        </div>
        <validation-message-for field="latitude">
            <validation-message error="required">
                <div class="form-group row">
                    <span class="help-block offset-sm-6">Please enter the latitude.</span>
                </div>
            </validation-message>
        </validation-message-for>

        <div class="form-group row" [ngClass]="{'has-error': (addPointForm.get('longitude').touched || addPointForm.get('longitude').dirty) &&
                        !addPointForm.get('longitude').valid }">
            <label class="col-sm-6 col-form-label" for="longitude">Longitude</label>
            <div class="col">
                <input class="form-control" id="longitude" type="text" placeholder="xx.xxx (required)"
                    formControlName="longitude" />
            </div>
        </div>
        <validation-message-for field="longitude">
            <validation-message error="required">
                <div class="form-group row">
                    <span class="help-block offset-sm-6">Please enter the longitude.</span>
                </div>
            </validation-message>
        </validation-message-for>

        <div class="form-group row" [ngClass]="{'has-error': (addPointForm.get('answer').touched || addPointForm.get('answer').dirty) &&
                        !addPointForm.get('answer').valid }">
            <label class="col-sm-6 col-form-label" for="answer">Answer</label>
            <div class="col">
                <input class="form-control" id="answer" type="text" placeholder="Answer (Optional)"
                    formControlName="answer" />
            </div>
        </div>
        <validation-message-for field="answer">
        </validation-message-for>

        <div class="form-group row" [ngClass]="{'has-error': (addPointForm.get('message').touched || addPointForm.get('message').dirty) &&
                        !addPointForm.get('message').valid }">
            <label class="col-sm-6 col-form-label" for="message">Message</label>
            <div class="col">
                <input class="form-control" id="message" type="text" placeholder="Message (Optional)"
                    formControlName="message" />
            </div>
        </div>
        <validation-message-for field="message">
        </validation-message-for>

        <button type="submit" class="btn btn-primary" [disabled]="(addBase$ | async).isActive">
            <span *ngIf="(addBase$ | async).isActive || (editBase$ | async).isActive"
                class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="type === addEditType.Add">
                Add point
            </span>
            <span *ngIf="type === addEditType.Edit">
                Edit point
            </span>
        </button>
    </form>
    <div *ngIf="(addBase$ | async).error">
        {{getErrorText((addBase$ | async).error.text()) }}
    </div>
</div>