<p>
    Thank you for your interest in race ventura. To contact us with any questions related to the race ventura website or the RaceVentura app use the contact information below.
</p>

<table>
    <tr>
        <td colspan="2">
            <b>Contact information</b>
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            <a href="mailto:&#114;&#97;&#99;&#101;&#46;&#118;&#101;&#110;&#116;&#117;&#114;&#97;&#46;&#105;&#110;&#102;&#111;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">
                <span>&#114;&#97;&#99;&#101;&#46;&#118;&#101;&#110;&#116;&#117;&#114;&#97;&#46;&#105;&#110;&#102;&#111;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</span>
            </a>
        </td>
    </tr>
</table>