<div class="m-2">
    <div class="row">
        <app-race-add *ngIf="!(loadRacesBase$ | async).isActive && !(loadRacesBase$ | async).error"
            [type]="addEditType.Add"></app-race-add>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <h5>Races</h5>
            </div>

            <div class="row">
                <div class="col-2 p-0">
                    <div *ngIf="!(loadRacesBase$ | async).isActive; else racesLoading">
                        <div *ngIf="(loadRacesBase$ | async).success" class="race-list list-group">
                            <a *ngFor="let race of races$ | async" class="list-group-item list-group-item-action"
                                href="javascript:void(0)" (click)="detailsClicked(race)"
                                [ngClass]="{'active': race === selectedRace}">{{race.name}}</a>
                        </div>
                    </div>
                    <ng-template #racesLoading>
                        <div class="align-items-center m-2">
                            <div class="spinner-border spinner-border-sm ml-auto mr-2" role="status"></div>
                            <strong>Loading...</strong>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="selectedRace" class="col ml-1 p-0">
                    <app-race-details [raceId]="selectedRace.id"></app-race-details>
                </div>
            </div>
        </div>
    </div>
</div>