<p>
    <a class="btn btn-secondary" data-toggle="collapse" href="#openForm{{type}}" role="button" aria-expanded="false"
        attr.aria-controls="openForm{{type}}">
        <span *ngIf="type === addEditType.Add">
            Add race
        </span>
        <span *ngIf="type === addEditType.Edit">
            Edit race
        </span>
    </a>
</p>
<div class="collapse" id="openForm{{type}}">
    <form *ngIf="addRaceForm" [formGroup]="addRaceForm" (submit)="addRaceClick(addRaceNgForm)" #addRaceNgForm="ngForm"
        role="form">
        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('name').touched || addRaceForm.get('name').dirty) &&
                        !addRaceForm.get('name').valid }">
            <label class="col-sm-6 col-form-label" for="raceName">Name</label>
            <div class="col">
                <input class="form-control" id="raceName" type="text" placeholder="Name (required)" formControlName="name" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('name').touched || addRaceForm.get('name').dirty) && 
                                addRaceForm.get('name').errors">
                <span *ngIf="addRaceForm.get('name').errors.required">
                    Please enter a name.
                </span>
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('checkCoordinates').touched || addRaceForm.get('checkCoordinates').dirty) &&
                    !addRaceForm.get('checkCoordinates').valid }">
            <div class="col-sm-6"></div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" id="checkCoordinates" type="checkbox" formControlName="checkCoordinates">
                    <label class="form-check-label" for="checkCoordinates">
                        Check GPS coordinates
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('checkCoordinates').touched || addRaceForm.get('checkCoordinates').dirty) && 
                        addRaceForm.get('checkCoordinates').errors">
                <span *ngIf="addRaceForm.get('checkCoordinates').errors.required">
                    Please enter check coordinates checkbox.
                </span>
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('specialTasksAreStage').touched || addRaceForm.get('specialTasksAreStage').dirty) &&
                    !addRaceForm.get('specialTasksAreStage').valid }">
            <div class="col-sm-6"></div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" id="specialTasksAreStage" type="checkbox" formControlName="specialTasksAreStage">
                    <label class="form-check-label" for="specialTasksAreStage">
                        Special tasks are a stage
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('checkCoordinates').touched || addRaceForm.get('checkCoordinates').dirty) && 
                            addRaceForm.get('checkCoordinates').errors">
                <span *ngIf="addRaceForm.get('checkCoordinates').errors.required">
                    Please enter check coordinates checkbox.
                </span>
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('maximumTeamSize').touched || addRaceForm.get('maximumTeamSize').dirty) &&
                        !addRaceForm.get('maximumTeamSize').valid }">
            <label class="col-sm-6 col-form-label" for="maximumTeamSize">Maximum team size</label>
            <div class="col">
                <input class="form-control" id="maximumTeamSize" type="text" placeholder="1 (required)" formControlName="maximumTeamSize" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('maximumTeamSize').touched || addRaceForm.get('maximumTeamSize').dirty) && 
                                addRaceForm.get('maximumTeamSize').errors">
                <span *ngIf="addRaceForm.get('maximumTeamSize').errors.required">
                    Please enter the maximum team size.
                </span>
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('minimumPointsToCompleteStage').touched || addRaceForm.get('minimumPointsToCompleteStage').dirty) &&
                        !addRaceForm.get('minimumPointsToCompleteStage').valid }">
            <label class="col-sm-6 col-form-label" for="minimumPointsToCompleteStage">Minimum points to complete a
                stage</label>
            <div class="col">
                <input class="form-control" id="minimumPointsToCompleteStage" type="text" placeholder="1 (required)"
                    formControlName="minimumPointsToCompleteStage" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('minimumPointsToCompleteStage').touched || addRaceForm.get('minimumPointsToCompleteStage').dirty) && 
                                addRaceForm.get('minimumPointsToCompleteStage').errors">
                <span *ngIf="addRaceForm.get('minimumPointsToCompleteStage').errors.required">
                    Please enter the minimum points needed to complate a stage.
                </span>
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('startDate').touched || addRaceForm.get('startDate').dirty) &&
                        !addRaceForm.get('startDate').valid }">
            <label class="col-sm-6 col-form-label" for="startDate">Start date</label>
            <div class="col">
                <input class="form-control" id="startDate" type="text" placeholder="dd-mm-yyyy" formControlName="startDate" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('startDate').touched || addRaceForm.get('startDate').dirty) && 
                                addRaceForm.get('startDate').errors">
            </span>

        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('startTime').touched || addRaceForm.get('startTime').dirty) &&
                        !addRaceForm.get('startTime').valid }">
            <label class="col-sm-6 col-form-label" for="startTime">Start time</label>
            <div class="col">
                <input class="form-control" id="startTime" type="text" placeholder="hh:mm" formControlName="startTime" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('startTime').touched || addRaceForm.get('startTime').dirty) && 
                                addRaceForm.get('startTime').errors">
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('endDate').touched || addRaceForm.get('endDate').dirty) &&
                        !addRaceForm.get('endDate').valid }">
            <label class="col-sm-6 col-form-label" for="endDate">End date</label>
            <div class="col">
                <input class="form-control" id="endDate" type="text" placeholder="dd-mm-yyyy" formControlName="endDate" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('endDate').touched || addRaceForm.get('endDate').dirty) && 
                                addRaceForm.get('endDate').errors">
            </span>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (addRaceForm.get('endTime').touched || addRaceForm.get('endTime').dirty) &&
                        !addRaceForm.get('endTime').valid }">
            <label class="col-sm-6 col-form-label" for="endTime">End time</label>
            <div class="col">
                <input class="form-control" id="endTime" type="text" placeholder="hh:mm" formControlName="endTime" />
            </div>
        </div>
        <div class="form-group row">
            <span class="help-block offset-sm-6" *ngIf="(addRaceForm.get('endTime').touched || addRaceForm.get('endTime').dirty) && 
                                addRaceForm.get('endTime').errors">
            </span>
        </div>

        <div *ngIf="(addBase$ | async).error">
            <div *ngIf="(addBase$ | async).error.json() === 0">
                A race with name '{{this.addRaceForm.get('name').value}}' already exists
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="(addBase$ | async).isActive">
            <span *ngIf="type === addEditType.Add">
                Add race
            </span>
            <span *ngIf="type === addEditType.Edit">
                Edit race
            </span>
        </button>
    </form>
    <div *ngIf="(addBase$ | async).isActive">
        Adding race
    </div>
    <div *ngIf="(editBase$ | async).isActive">
        Editing race
    </div>
</div>