<div class="row">
    <div class="col">
        <app-stage-add [type]="addEditType.Add" [details]="selectedStage"></app-stage-add>
    </div>
</div>

<div *ngIf="!(loadStagesBase$ | async).isActive; else stagesLoading">
    <div class="row">
        <div class="col">
            <h5>Stages</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div *ngIf="(loadStagesBase$ | async).success" class="list-group stage-list">
                <a *ngFor="let stage of stages$ | async" class="list-group-item list-group-item-action"
                    href="javascript:void(0)" (click)="detailsClicked(stage)"
                    [ngClass]="{'active': stage.stageId === selectedStage.stageId}">{{stage.name}}</a>
            </div>
            <div *ngIf="(loadStagesBase$ | async).success && (stages$ | async).length === 0">
                No stages found.
            </div>
        </div>

        <div *ngIf="selectedStage.stageId" class="col">
            <app-stage-details [selectedStage]="selectedStage"></app-stage-details>
        </div>
    </div>
</div>
<ng-template #stagesLoading>
    <div class="align-items-center m-2">
        <div class="spinner-border spinner-border-sm ml-auto mr-2" role="status"></div>
        <strong>Loading stages...</strong>
    </div>
</ng-template>