<div class="row">
    <div class="col">
        <app-stage-add *ngIf="!(loadStagesBase$ | async).isActive && !(loadStagesBase$ | async).error"
            [type]="addEditType.Add" [details]="selectedStage"></app-stage-add>
    </div>
</div>

<div *ngIf="!(loadStagesBase$ | async).isActive; else stagesLoading">
    <div class="row">
        <div class="col">
            <h5>Stages</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div *ngIf="(loadStagesBase$ | async).success" class="list-group stage-list">
                <a *ngFor="let stage of stages$ | async" class="list-group-item list-group-item-action"
                    href="javascript:void(0)" (click)="detailsClicked(stage)"
                    [ngClass]="{'active': stage === selectedStage}">{{stage.name}}</a>
            </div>
            <div *ngIf="(loadStagesBase$ | async).success && (stages$ | async).length === 0">
                No stages found.
            </div>
            <ng-template #stagesLoading>
                <div class="align-items-center m-2">
                    <div class="spinner-border spinner-border-sm ml-auto mr-2" role="status"></div>
                    <strong>Loading stages...</strong>
                </div>
            </ng-template>
        </div>

        <div *ngIf="selectedStage.id" class="col">
            <app-stage-details [selectedStage]="selectedStage"></app-stage-details>
        </div>
    </div>
</div>