<div class="row">
    <div class="col">
        <app-team-add [type]="addEditType.Add" [details]="getSelectedTeam(teams$ | async)"></app-team-add>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <h5>Teams</h5>
    </div>

    <div *ngIf="selectedTeamId" class="col p-0 ml-1">
        <h5>{{getSelectedTeam(teams$ | async).name}} details</h5>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="list-group team-list">
            <a *ngFor="let team of (teams$ | async)" class="list-group-item list-group-item-action"
                href="javascript:void(0)" (click)="detailsClicked(team.teamId)"
                [ngClass]="{'active': team.teamId === selectedTeamId}">{{team.number}} - {{team.name}}</a>
        </div>
        <div *ngIf="!(teams$ | async) || (teams$ | async).length === 0">
            No teams found.
        </div>
    </div>

    <div *ngIf="selectedTeamId" class="col p-0">
        <app-team-details [selectedTeam]="getSelectedTeam(teams$ | async)"></app-team-details>
    </div>
</div>